h1{
    font-size: 5rem;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

ul li{
    cursor: pointer;
    border: 1px solid black !important;
}

.display i{
    color:black;
    cursor: pointer;
}

i{
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.display{
    display: none;
}

.playground{
    display: none;
}

.empty{
    width: 33%;
}

.result{
    display: none;
}

.result i{
    font-size: 25px;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    h1{
        font-size: 3rem;
    }
    .col-sm-12 {
        text-align: center;
    }
    .btn-go{
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
